.itemMainBlock {
  display: flex;
  align-items: center;
  height: 50px;
  width: 480px;
  padding: 0 10px 0 10px;
  background-color: #e7e7ff;
  border-radius: 10px;
  margin-bottom: 10px;
}

.itemCheckedMainBlock {
  display: flex;
  align-items: center;
  height: 50px;
  width: 480px;
  padding: 0 10px 0 10px;
  background-color: #fee2e9;
  border-radius: 10px;
}

.itemCheckbox {
  margin: 0 5px 0 0;
  width: 30px;
  height: 30px;
}

.itemCheckedContent {
  text-decoration: line-through;
  color: gray;
}

.itemContent {
}

.itemDeleteButton {
  margin-left: auto;
}
